.homepage_container{
    background: linear-gradient(326deg, rgb(42 66 83), rgb(14 31 33), rgb(4 4 4));
    position: relative;
    background-attachment: fixed;
    padding-top: 250px;
    padding-bottom: 80px;
    width:100%;
    min-height: calc(100vh - 80px);
}
@keyframes slideIn {
    from {
      transform: translateY(100px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .homepage_container p,
  .homepage_container .learn_more {
    opacity: 0; /* Ensure elements start hidden */
    animation: slideIn 1s ease-out forwards;
  }
  
  .hero_section1 p:nth-child(1) {
    animation-delay: 0.2s;
  }
  
  .hero_section1 p:nth-child(2) {
    animation-delay: 0.4s;
  }
  
  .hero_section1 .learn_more {
    animation-delay: 0.6;
  }
  
@media (max-width: 767px) {
    .homepage_container{
        padding-top: 150px;
    }
  }